<!-- this is comman part and shows on every page  : start -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <style>
        table, th, td{
            border: 1px solid black;
        }

    </style>
</head>
<body>

    
    <nav class="navbar p-3 bg-body-tertiary btn-danger shadow-lg">
        <div class="container-fluid">
          <a class="navbar-brand">Navbar</a>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <form class="d-flex" role="search">
        {% if request.user.is_authenticated %}
            <a href="/logout/" class="btn btn-success" type="submit">logout</a>
        {% else %}
            <a href="/login/" class="btn btn-success" type="submit">login</a>
        {% endif %}

            </form>
          </form>
        </div>
      </nav>

    {% block start %}

    
      <!-- this is area between them code will be written in every page -->

    {% endblock %}




</body>
</html>
<!-- this is comman part and shows on every page  : end -->