
{% extends "base.html" %}
    {% block start %}

      <!-- Note : CREATE opertaion in CRUD
        here we can create form to insert data from front side(from receipes.html) to backend (in model),
      in form imp is name attribute, we used these attribute in view -->

    <div class="container mt-5">

        <form class="col-6 mx-auto card p-3" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <h2>Add Receipe</h2>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Receipe Name</label>
              <input name="receipe_name" required type="text" class="form-control">
            </div>

            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Receipe Description</label>
              <textarea name="receipe_description" required class="form-control"></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Receipe Image</label>
                <input name="receipe_image" type="file" class="form-control">
              </div>

            <button type="submit" class="btn btn-success">Add Receipe</button>
          </form>

          <hr>

          <!-- Note : Search operation -->
          <div class="mt-5">
            <div class="mx-auto col-6">
              <form>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Search Food</label>
                <input name="search"  type="text" class="form-control">
              
                </div>
              <button type="submit" class="btn btn-primary">Search</button>
              </form>
            </div>
          </div>
          
    
    <hr>


          <!-- Note : READ  operation in CRUD
            here we can create table to display data from backend (from model) to front side (receipes.html) -->

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Sr number</th>
                <th scope="col">Receipe Name</th>
                <th scope="col">Receipe Desc</th>
                <th scope="col">Image</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>

              {% for receipe in receipes %}
              <tr>
                <th scope="row">{{forloop.counter}}</th>
                <td>{{receipe.receipe_name}}</td>
                <td>{{receipe.receipe_description}}</td>
                <td>
                  <img src="/media/{{receipe.receipe_image}}" style="height: 100px">
                </td>
          <!-- Note : DELETE operation in CRUD -->
                <td>
                  <a href="/delete-receipe/{{receipe.id}}/" class="btn btn-danger">Delete</a>
          
          <!-- Note : UPDATE operation in CRUD -->
                  <a href="/update-receipe/{{receipe.id}}/" class="btn btn-success">Update</a>
                </td>

              </tr>
              {% endfor %}
            </tbody>
          </table>

    </div>

    {% endblock %}